<div id="favorite-icon">
    <% if Current.user %>
      <% if product.favorite %>
        <%= link_to 'ðŸŒŸ',  favorite_path(product.id), data: {
          turbo_method: :delete
        } %>
      <% else %>
        <%= link_to 'â­',  favorites_path(product_id: product.id), data: {
          turbo_method: :post
        } %>
      <% end %>
    <% end %>
</div>