
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

@import url(css/animate.min.css);
@import url(css/font-awesome.min.css);

* { box-sizing: border-box !important;}

html { scroll-behavior: smooth;}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;}

   .search-form {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap; }
 
   .search-fields {
     display: flex;
     align-items: center;
     gap: 10px;}
 
   .search-fields input[type=text],
   .search-fields input[type=number],
   .search-fields select {
     width: 180px; /* ajusta el ancho según lo que necesites */
     margin-right: 10px; /* ajusta el margen derecho según lo que necesites */
     margin-bottom: 15px;}

   .search-fields2{
     /* ajusta el ancho según lo que necesites */
     margin-right: 30px; 
     margin-top: 5px;
     margin-bottom: 15px;}
   
.username{
     margin-top: 18px;
     margin-bottom: 25px;
     background-color: #FCD34D; /* Cambia el color de fondo a amarillo */
     color: #000000; /* Cambia el color de texto a blanco */
     padding: 5px; /* Agrega un espacio alrededor del contenido */
     border-radius: 5px; /* Agrega bordes redondeados */}


h1,h2,h3,h4,h5,h6 {
     letter-spacing: 0;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0}

h1 { font-size: 24px;}
h2 { font-size: 18px;}
h3 {font-size: 18px;}
h4 {font-size: 16px}
h5 { font-size: 14px}
h6 { font-size: 13px}


button:focus {
     outline: none;}

ul,li,ol {
     margin: 0px;
     padding: 0px;
     list-style: none;}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
img {
     max-width: 100%;
     height: auto;}

 :focus {
     outline: 0;}

.card-text {
     margin-bottom: 10px;}

.card-text-price{
     font-size: 20px;
     font-weight: bold;
     color: #e60000;
     text-align: center;}

.navbar-form input {
     border: none !important;}


blockquote {
     margin: 20px 0 20px;
     padding: 30px;}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;}

.navigation.navbar {
     float: right;
     background: #fff;
     clear: both;
     padding: 23px 25px !important;
     border-radius: 64px;}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 20px;
     color: #070404;
     font-size: 17px;
     line-height: 20px;
     font-weight: 500;}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #03cafc;}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #03cafc;}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;}

.header {
     width: 100%;
     padding: 30px 30px;
     background: transparent;
     position: absolute;
     z-index: 999;
     margin-bottom: 20px;}

.logo {padding-top: 14px;}


.blu {
     color: #03cafc;
     text-transform: initial;}

.glasses_box {
     width: 250px;
     height: 350px;
     text-align: center;
     border: #555556 solid 2px;
     border-radius: 5px;
     margin-bottom: 15px;}

.glasses_box figure {
     margin: 0}

.glasses_box h3 {
     color: #100d0d;
     font-size: 22px;
     padding: 20px 0px 9px 0px;}

.glasses_box p {
     color: #2a2a2c;
     font-size: 18px;
     line-height: 28px;}

.row{ display: flex}

.title{margin-bottom: 20px;}

.card {
    align-items: center;
    width: 500px;
}

.text-center{
     align-items: center;
}

.header {
     position: inherit;
     background: #03cafc;
}
