<div class="container text-center">
<h1><%= t('.title') %></h1>

<%= render "form", category: @category %>

<br>

<div class="botonback text-center">
  <%= link_to t('.back'), categories_path,class: "btn btn-secondary" %>
</div>

</div>
